* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111f35;
    color: #e3e3e3;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.navbar {
    width: 100%;
    height: 86px;
}

.navbar-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand > .navbar-logo {
    font-family: "Quantico";
    font-size: 26px;
    font-weight: 900;
    text-decoration: none;
    color: #fefefe;
}

.navbar-links {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transform: translate(-50%, -50%);
}

.navbar-links > .navbar-link {
    font-family: "Funnel Display";
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #b4b3b2;
    padding: 6px 14px;
    border-radius: 50rem;
    text-decoration: none;
    transition:
        color 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
        background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.navbar-links > .navbar-link:hover {
    background-color: #ebf4f62f;
}

.navbar-links > .navbar-link.active {
    font-weight: 500;
    color: #fbfbfb;
    background-color: #685aff;
}

.navbar-actions > .navbar-login-button {
    font-family: "TASA Explorer";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #fbfbfb;
    background-color: #685aff;
    padding: 12px 18px;
    border-radius: 12px;
    text-decoration: none;
    transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.navbar-actions > .navbar-login-button:hover {
    background-color: #5b23ff;
}
